registry=http://static-repo.wanshifu.com:8007/
//static-repo.wanshifu.com:8007/:_authToken="P4IXCJUnlZUfO8OADq+qYGxhn1sTxNlEAJQjben3zdU="
_auth="P4IXCJUnlZUfO8OADq+qYGxhn1sTxNlEAJQjben3zdU="
always-auth = true
url=http://cnpmjs.org/downloads
electron_mirror=https://npm.taobao.org/mirrors/electron/
sqlite3_binary_host_mirror=https://npm.taobao.org/mirrors/sqlite3/
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
python_mirror=https://npm.taobao.org/mirrors/python/